label {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form{
  width: 30%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  text-align: center;
}

.form-option{
  display: flex;
  flex-direction: row;
}